@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

:root {
    --color1: #F2668B; /*rgba(242, 102, 139, 1); */
    --color2: #025E73;
    --color3: #011F26;
    --color4: #026873;
    --color5: #03A688; 
}

*, * ::after, * ::before {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  /* background-repeat: repeat; */
  /* background-color: var(--color3); */
}

html, body {
    height: 100%;
}

body {
    margin: 0 auto;
}

header {
    padding: 1.5em 0 1em 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    text-shadow: 0.5px 0.5px 2px rgba(255,255,255, 0.2);
}

#navbar ul {
    display: flex;
    gap: 3em;
    list-style-type: none;
}

#navbar .navbar-link {
    position: relative;
    text-decoration: none;
    color: lightgray;
}

#navbar .navbar-link:after {
    content: "";
    position: absolute;
    background-color: var(--color1);
    height: 2.5px;
    left: 0;
    width: 0;
    bottom: -8px;
    transition: 0.4s;
}

#navbar .navbar-link:hover:after {
    width: 100%;
}

#navbar .navbar-link:hover {
    color: white;
}

main {
    margin: 100px 0 0 0;
}

#name-career {
    text-align: center;
}

h1 {
    font-size: 64px;
    font-style: italic;
    color: white;
}

h4 {
    color: white;
    font-style: italic;
    font-weight: 300;
    color: var(--color1);
    text-shadow: 0.5px 0.5px 2px rgba(255,255,255, 0.2);
}

#welcome-section {
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: auto;
}

#welcome-section span {
    color: var(--color1);
    font-size: 1.9em;
    margin-right: 0.2em;
    float: left;
}

.div-about {
    margin-top: 2em;
}

.about-me {
    max-width: 400px;
    color: white;
    margin: auto;
}

.technologies {
    margin-top: clamp(2em, 4em, 6em);
}

.technologies h4 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 1em;
    text-align: center;
    color: var(--color1);
    text-shadow: 0.5px 0.5px 2px rgba(255,255,255, 0.2);
}

.technologies-icons-item {
    width: 5.5rem;
    height: 4.5rem;
    align-items: center;
    text-align: center;
}

.technologies i {
    color: white;
    font-size: clamp(4rem, 6vw, 6rem);
    transition: ease-in-out .3s;
}

.technologies i:hover {
    font-size: clamp(5rem, 6.5vw, 7rem);
}

.technologies-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.profile-photo {
    max-width: 400px;
}

#projects {
    margin-top: 4em;
    height: 100vh;
    background: linear-gradient(15deg, /*var(--color1) 0%, var(--color1) 1%,*/ var(--color3) 80%, var(--color3) 100%);
}

#projects h2 {
    color: white;
    margin-left: 4em;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

#projects span, #contact span {
    color: var(--color1);
    font-weight: 700;
    font-size: 54px;
}

.projects-grid {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5em auto 0 auto;
    max-width: 1280px;
}

.projects-block {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 22rem;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    background: rgba(0,0,0, 0.4);
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
}

.projects-grid img {
    width: 19rem;
    height: 19rem;
    margin: auto;
    object-fit: scale-down;
    border-radius: 10px;
}

.bckgnd-img {
    background-color: white;
}

.projects-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;;
}

.projects-description h3 {
    color: white;
}

.projects-description a {
    color: white;
    text-decoration: none;
}

#contact {
    /* margin: 4em 0 0 0; */
    background-image: url("./img/background-image.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 7em;
    height: 80vh;
}

#contact h2 {
    padding: 2em 0 1em 0;
    font-size: 64px;
    color: white;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

#contact .contact-title {
    font-size: 72px;
}

.contact-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    padding: 5em 0 1em 0; 
    justify-content: space-around; 
}

.contact-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.contact-text p {
    color: white;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.6;
}

.contact-text p:first-of-type {
    margin-bottom: 1.5em;
}

.interview-img {
    width: 30vw;
    border-radius: 30%;
    box-shadow: 0 0 10px var(--color4);
    /* border: 1px solid ; */
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}

.contact-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.contact-links i {
    color: white;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 4em;
    color: white;
    padding-bottom: 1em;
    background: rgba(0,0,0, 1);
    box-shadow: 0px 0px 30px rgba(0,0,0, 1);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    opacity: 0.8;
    transition: 0.2s;
}

footer a:hover {
    opacity: 1;
}

@media only screen and (max-width: 1280px) {
    .technologies-icons-item {
        width: 4em;
        height: 3em;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    h1 {
        font-size: 48px;
    }

    #welcome-section {
        height: auto;
        margin: 3em auto;
    }

    .profile-photo {
        width: 220px;
    }

    .technologies {
        margin-top: clamp(1em, 2em, 4em);
    }
    .contact-content {
        margin: 0 2em;
        gap: 2em;
    }
    .contact-text p {
        font-size: 1em;
        font-style: italic;
        line-height: 1.4;
        max-width: 300px;
    }
}

@media only screen and (max-width: 540px) {
    header {
        box-shadow: 0 0 0;
        border-bottom: 2px solid rgba(0,0,0, 0.4);
    }
    
    h1 {
        font-size: 40px;
    }

    #welcome-section {
        flex-direction: column-reverse;
    }

    .profile-photo {
        width: 180px;
    }

    .about-me {
        width: 80vw;
    }

    #projects h2, {
        margin-left: 1em;
    }

    .contact-content {
        flex-direction: column;
        padding: 3em 0 1em 0;
    }

    #contact h2 {
        font-size: 36px;
    }

    #contact .contact-title {
        font-size: 42px;
    }

    .contact-text p{
        margin: auto;
        text-align: center;
    }

    .contact-links {
        flex-wrap: wrap;
        gap: 1em;
    }
}

@media only screen and (max-width: 425px) {
    #navbar ul {
        gap: 1.4em;
    }

    .about-me {
        width: 80vw;
    }

    .technologies-icons {
        gap: 0.5rem;
    }

    #projects h2 {
        margin-left: 0.3em;
        font-size: 28px;
    }

    .contact-content {
        padding: 
    }

    #contact h2 {
        font-size: 28px;
        padding-top: 5em;
    }

    .contact-text {
        flex-direction: column-reverse;
    }

    footer p {
        font-size: 0.9em;
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    #logo {
        font-size: 1.2em;
    }
    
    #navbar ul {
        gap: 0.7em;
    }
}